.sidebar {
  &__wrapper {
    position: relative;
    height: calc(100vh - #{$header-height});
    padding-top: size(1.5);
    overflow-y: scroll;
  }

  &__list {
    position: relative;

    a,
    &::v-deep .menu {
      position: relative;
      display: block;
      padding: 0 simple() !important;
      margin-bottom: 0;
      font-size: $menu-font-size;
      color: color(gray2) !important;

      @include hover {
        color: color(gray1) !important;
        text-decoration: none;
      }

      &.router-link-active {
        // font-weight: font-weight(bold);
        color: color(brand) !important;

        &::before {
          position: absolute;
          top: calc(50% - 6px);
          right: -1px;
          display: block;
          width: 0;
          height: 0;
          content: '';
          border-top: 6px solid transparent;
          border-right: 6px solid color(white);
          border-bottom: 6px solid transparent;
        }

        @include hover {
          color: color(brand) !important;
        }
      }
    }

    &--level1 {
      > .sidebar__item > a {
        line-height: 1.8em;
      }
    }

    &--level2 {
      margin-bottom: simple();

      > .sidebar__title {
        margin-top: simple();
        margin-bottom: half();
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      a {
        font-size: font-size(small1);
      }
    }

    &--level3 {
      > .sidebar__title {
        margin-top: half();
        font-size: font-size(small2);
        opacity: 0.5;
      }
    }
  }

  &__navbar {
    padding: double() 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__item {
    margin: 0;
    list-style: none;
  }

  &__title {
    width: calc(100% - #{double()});
    margin: 0 simple() quarter();
    font-size: font-size(small1);
    font-weight: font-weight(bold);
    color: color(gray1);
    text-transform: uppercase;
  }
}
