.docsLayout {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  transition: $transition;
  transform: translate3d(0, 0, 0);

  &--sidebar-hidden {
    .docsLayout__sidebar {
      display: none;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: $header-height;
    transition: $transition;
    transform: translate3d(0, 0, 0);
  }

  &__main {
    height: 100vh;
    padding-top: 4.8rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &__sidebar {
    flex: 1 0 $sidebar-width;
    height: 100%;
    padding-top: $header-height;
    overflow-y: scroll;
    background: color(gray7);
    transition: $transition;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // background: linear-gradient(to left top, color(gray7), color('white'));
    transition: $transition;
  }

  &__wrapper {
    width: 100%;
    max-width: $wrapper-width;
    padding: double() simple();
    margin: 0 auto;
  }

  /**
   * Menú para dispositivos
   */
  &__device-menu {
    display: none;
  }
}

@include media(screen) {
  .docsLayout {
    &__sidebar {
      flex: 1 0 $sidebar-width-large;
    }
  }
}

@include media(portrait) {
  .docsLayout {
    &__header {
      height: $header-height-media;
    }

    // &__main {
    //   display: block;
    //   height: calc(100vh - #{$header-height-media});
    // }

    &__sidebar {
      display: none;
    }

    &__content {
      display: block;
      margin-left: 0;
    }

    &__wrapper {
      padding: simple();
    }

    &__device-menu {
      display: block;
    }
  }
}

@include media(palm) {
  .docsLayout {
    &--header-hidden {
      .docsLayout__header {
        transform: translate3d(0, -100%, 0);
      }

      .docsLayout__main {
        height: 100vh;
        transform: translate3d(0, -#{$header-height-media}, 0);
      }
    }
  }
}
