.docsLayout {
  height: 100vh;

  &--header-hidden {
    .docsLayout__header {
      transform: translate3d(0, -100%, 0);
    }

    .docsLayout__main {
      height: 100vh;
      transform: translate3d(0, -#{$header-height}, 0);
    }
  }

  &--sidebar-hidden {
    .docsLayout__sidebar {
      display: none;
    }
  }

  &__header {
    position: relative;
    z-index: 1000;
    height: $header-height;
    background-color: white;
    border-bottom: 1px solid color(gray7);
    transition: $transition;
    transform: translate3d(0, 0, 0);
  }

  &__main {
    display: flex;
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
    transition: $transition;
    transform: translate3d(0, 0, 0);
  }

  &__sidebar {
    flex: 1 0 $sidebar-width;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(to top, color(brand-dark), color(brand));
    transition: $transition;
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(to left top, color(gray6), color(gray7));
    transition: $transition;
  }

  &__wrapper {
    width: 100%;
    max-width: $wrapper-width;
    padding: double() simple();
    margin: 0 auto;
  }

  /**
   * Menú para dispositivos
   */
  &__device-menu {
    display: none;
  }
}

@include media(screen) {
  .docsLayout {
    &__sidebar {
      flex: 1 0 $sidebar-width-large;
    }
  }
}

@include media(portrait) {
  .docsLayout {
    &--header-hidden {
      .docsLayout__main {
        transform: translate3d(0, -#{$header-height-media}, 0);
      }
    }

    &__header {
      height: $header-height-media;
    }

    &__main {
      display: block;
      height: calc(100vh - #{$header-height-media});
    }

    &__sidebar {
      display: none;
    }

    &__content {
      display: block;
      margin-left: 0;
    }

    &__wrapper {
      padding: simple();
    }

    &__device-menu {
      display: block;
    }
  }
}
