.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /**
   * Logotipo
   */
  &__logo {
    display: flex;
    justify-content: center;
    min-width: $sidebar-width;
    height: 100%;
    font-size: 2.8rem;

    @include hover {
      text-decoration: none;
    }
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(5px);
  }

  /**
   * Buscador
   */
  &__search {
    display: flex;
    flex-grow: 2;
    align-items: center;
    width: 100%;
    margin-left: half();
    transition: $transition;
  }

  &__nav {
    height: $header-height;

    &::v-deep .appMenu {
      .appMenu__item--link,
      .dropdown__header {
        height: $header-height;
        font-size: $menu-font-size;
        font-weight: font-weight(bold);
        line-height: $header-height;

        @include hover {
          text-decoration: none;
        }
      }

      .dropdown__icon {
        top: size(1.38);
      }

      .dropdown--float .dropdown__body {
        top: 90%;
      }
    }
  }

  /**
   * Botones de las redes sociales
   */
  &__social {
    height: 100%;
    margin: 0 half();
  }
}

@include media(screen) {
  .appHeader {
    &__logo {
      min-width: $sidebar-width-large;
    }
  }
}

@include media(portrait) {
  .appHeader {
    &__logo {
      min-width: auto;
      margin: 0 auto;
      font-size: 2.2rem;

      &::v-deep .didor-logo--horizontal {
        margin-top: 0.3em;
      }
    }

    &__search,
    &__nav,
    &__social {
      display: none !important;
    }
  }
}
