.page-demo {
  .page-demo__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.4rem 0.6rem;
    color: #ffffff;
    background-color: color(brand);
    border-radius: 3px;
  }

  .page-demo__main {
    height: 300px;
  }

  .page-demo__aside {
    width: 150px;
  }

  @include media(palm) {
    .page-demo__aside {
      width: 100%;
    }
  }
}

.page--flex {
  display: flex;
  flex-wrap: wrap;
}

.page--border .page-block {
  color: color(gray3);
  background-color: color(gray7);
  border-color: color(gray5);
  border-width: 2px !important;
  border-radius: 0;
}

.page--color .page-block {
  width: 100%;
  height: 50px;
}

.page--text .page-block {
  justify-content: start;
  width: 100%;
  height: simple();
  text-align: left;
  background-color: transparent;
}

.page--float .page-block {
  width: auto;
  height: double();
}

.page--overflow {
  display: flex;

  .page-block {
    display: block;
    width: auto;
    color: color(gray2);
    background-color: color(gray6);
  }
}

.page-size .page-block {
  display: inline-block;
  width: auto;
  height: double();
  padding: 0;
  margin-bottom: half();
  line-height: double();
  white-space: nowrap;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.page-size-width .page-block {
  display: block;
  width: auto;
  height: double();
  padding: 0 half();
  margin-right: 0;
  margin-bottom: half();
  line-height: double();
  text-align: left;
  white-space: nowrap;
}

.page-size-height {
  display: flex;
  height: 300px;

  .page-block {
    align-items: flex-start;
    height: auto;
    margin-bottom: 0;
  }
}

.page--wrap {
  display: flex;
  justify-content: space-between;

  .page-block {
    justify-content: start;
    width: 200px;
    color: color(gray-2);
    background-color: color(gray6);
  }
}

:root {
  --color-shadow-brand: 25, 146, 212; // valor rgb separado por comas
}

.page--shadows {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: double();

  .page-block {
    margin: simple();
    color: color(gray1);
    background-color: #ffffff;
  }

  .shadow-brand {
    @include shadow(3, var(--color-shadow-brand));
  }
}

.page-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  padding: 0.4rem 0.6rem;
  margin-right: half();
  margin-bottom: half();
  color: #ffffff;
  text-align: center;
  background-color: color(brand);
  border-radius: 5px;
}
