$modular-scale: 1.15;

$desk: 1700px;

$sidebar-width-touch: 240px;
$sidebar-width: 300px;
$sidebar-width-large: 300px;

$header-height: triple();
$header-height-media: double();
$wrapper-width-large: 700px;
$wrapper-width: 670px;

$transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) all;

$menu-font-size: 0.889rem;
