//
// Colores de Marca
//
$brand-darker: hsl(338, 100%, 25%);
$brand-dark: hsl(344, 79%, 41%);
$brand: hsl(346, 73%, 50%);
$brand-light: hsl(352, 96%, 65%);
$brand-lighter: hsl(3, 100%, 74%);
$brand-a20: hsl(24, 100%, 84%);

// Familias tipográficas
//
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

:root {
  // Familias tipográficas
  //
  --font-family-base: 'Karla', helvetica neue, arial, sans-serif;
  --font-family-heading: 'Crimson Text', helvetica neue, arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Courier New', courier, monospace;

  // Tamaños de fuente por tamaño de pantalla en px
  // Importante: No poner las unidades (px)
  //
  --root-font-size-palm: 16;
  --root-font-size-lap: 17;
  --root-font-size-small: 17;
  --root-font-size-desk: 18;
  --root-font-size-large: 18;

  // Pesos tipográficos
  //
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heading: 600;
}

$modular-scale: 1.225;

$sidebar-width: 240px;
$sidebar-width-large: 300px;

$header-height: triple();
$header-height-media: double();
$wrapper-width: 670px;

$transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) all;

$menu-font-size: 0.889rem;
