// Import didor framework
@import '@didor/framework/src/_didor-share.scss';
@import '@didor/framework/src/_didor-global.scss';

// Familias tipográficas
//
// @font-face {
//   font-family: 'HK Grotesk';
//   src: url('../assets/fonts/HKGrotesk-Light.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-Light.woff') format('woff');
//   font-style: normal;
//   font-weight: 300;
// }

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk-Regular.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk-Medium.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

// @font-face {
//   font-family: 'HK Grotesk';
//   src: url('../assets/fonts/HKGrotesk-SemiBold.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-SemiBold.woff') format('woff');
//   font-style: normal;
//   font-weight: 600;
// }

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk-Bold.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../assets/fonts/HKGrotesk-ExtraBold.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}

// @font-face {
//   font-family: 'HK Grotesk';
//   src: url('../assets/fonts/HKGrotesk-Black.woff2') format('woff2'), url('../assets/fonts/HKGrotesk-Black.woff') format('woff');
//   font-style: normal;
//   font-weight: 900;
// }

:root {
  // Familias tipográficas
  //
  --font-family-base: 'HK Grotesk', courier, helvetica neue, arial, sans-serif;
  --font-family-heading: 'HK Grotesk', courier, helvetica neue, arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Courier New', courier, monospace;

  // Tamaños de fuente por tamaño de pantalla en px
  // Importante: No poner las unidades (px)
  //
  --root-font-size-palm: 17;
  --root-font-size-lap: 17;
  --root-font-size-small: 18;
  --root-font-size-desk: 18;
  --root-font-size-large: 19;

  // Pesos tipográficos
  //
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-heading: 800;

  // Colores personalizados
  //
  --color-content: var(--color-gray3);
}

body {
  height: 100%;
  overflow-y: hidden;
}

// Import custom var
@import 'var';
@import 'icon';
