.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: triple();
  // overflow: hidden;
  border-top: 1px solid color(border);
}

.pagination-item {
  margin-top: simple();

  &:not(:last-child) a .pagination-item-label,
  &:not(:last-child) a .pagination-item-title {
    opacity: 0.3;
    transition: all 0.2s;
  }

  @include hover {
    a .pagination-item-label {
      opacity: 1;
    }

    a .pagination-item-title {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.pagination-item--previous {
  svg {
    margin-right: 0.5em;
  }
}

.pagination-item--next {
  text-align: right;

  svg {
    margin-left: 0.5em;
  }
}

.pagination-item-label {
  margin-bottom: -0.2rem;
  font-size: font-size(small1);
  color: color(gray4);
  opacity: 1;

  > * {
    line-height: 1;
    vertical-align: middle;
  }

  svg {
    width: auto;
    height: 0.8em;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
  }
}

.pagination-item-title {
  font-size: font-size(h3);
  color: color(gray2);
  opacity: 1;
}
